<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32"> 
        <img src="../../../assets/img/Icon.png" alt="Ramo para graduación" style="width:10%">
        <h1><b>Policupido</b></h1>
      <p>Dilo con  <span class="w3-tag">flores</span></p>
    </header>
    
    <!-- Grid -->
    <div class="w3-row">
    
    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        <img src="../../../assets/img/RamoGrado.png" alt="Ramo para graduación" style="width:100%">
        <div class="w3-container">
          <h3><b>ARREGLOS PARA TODA OCASIÓN</b></h3>
          <h5>Maestría, <span class="w3-opacity">Diciembre 06,2023</span></h5>
        </div>
    
        <div class="w3-container">
          <p>Realizamos arreglos florales acordes para cada ocasión, te presentamos un ramo elegantes con rosas blancas, donde resaltan las mariposas y una bella museta. </p>
          <div class="w3-row">
            <div class="w3-col m8 s12">
              <p><button class="w3-button w3-padding-large w3-white w3-border" ><b><a href="Productos">COMPRAR »</a></b></button></p>
            </div>
            <div class="w3-col m4 w3-hide-small">
              <p><span class="w3-padding-large w3-right"><b>Vendidos  </b> <span class="w3-tag">0</span></span></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
      <img src="../../../assets/img/Ramo3.png" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3><b>ENTREGAS ANÓNIMAS</b></h3>
          <h5>Lo entregamos por ti <span class="w3-opacity">April 2, 2014</span></h5>
        </div>
    
        <div class="w3-container">
          <p>Sabemos que quieres llegar a tu policrush pero no sabes como hacero, nosotros lo hacemos por ti. <br>
            Nos encargamos de entregarles ese detalle junto a tu notita con esa frase que no te atreves a decirle, además de la canción que puedes añadir con un código Qr.</p>
          <div class="w3-row">
            <div class="w3-col m8 s12">
              <p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="Productos">COMPRAR »</a></b></button></p>
            </div>
            <div class="w3-col m4 w3-hide-small">
              <p><span class="w3-padding-large w3-right"><b>Vendidos  </b> <span class="w3-badge">2</span></span></p>
            </div>
          </div>
        </div>
      </div>
    <!-- END BLOG ENTRIES -->
    </div>
    
    <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
      <img src="../../../assets/img/RamoRojo.png" style="width:100%">
        <div class="w3-container w3-white">
          <h4><b>Ramo Reina</b></h4>
          <p>Ramo perfecto para dedicarle a tu amor sin importar que no sea una fecha especial.<br>
            Incluye una tarjeta personalizable junto a un código Qr que te permite dedicar esa canción tan especial. 
          </p>
        </div>
      </div><hr>
      
      <!-- Posts -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Más vendidos</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="../../../assets/img/Ramo1.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Universitaria bella</span><br>
            <span class="Leyenda">Por que tu haces mis días más bonitos en la facultad.  </span>
          </li>
          <li class="w3-padding-16">
            <img src="../../../assets/img/Ramo2.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Bonita</span><br>
            <span class="Leyenda">Unas rosas por bonita</span>
          </li> 
          <li class="w3-padding-16">
            <img src="../../../assets/img/Ramo4.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Reina</span><br>
            <span class="Leyenda">Por ser la novia perfecta</span>
          </li>   
          <li class="w3-padding-16 w3-hide-medium w3-hide-small">
            <img src="../../../assets/img/Ramo5.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Coqueta</span><br>
            <span class="Leyenda">Por robar mi corazón</span>
          </li>  
        </ul>
      </div>
      <hr> 
     
      <!-- Labels / tags -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Motivos para regalar</h4>
        </div>
        <div class="w3-container w3-white">
        <p><span class="w3-tag w3-black w3-margin-bottom">Bodas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Decoraciones</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ramos personalizados</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Graduaciones</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Fechas especiales</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">15 Años</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Cumpleaños</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Celebraciones</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Confirmaciones</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Bautizos</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Inaguraciones</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Regalos</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Aniversarios</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Fiestas</span>
        </p>
        </div>
      </div>
      
    <!-- END Introduction Menu -->
    </div>
    
    <!-- END GRID -->
    </div><br>
    
    <!-- END w3-content -->
    </div>
    